<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSContactsUsageDescription</key>
	<string>eight needs contacts access to make calls</string>
	<key>NSCameraUsageDescription</key>
	<string>eight needs camera access to take photos and videos</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>eight needs photo library access to save photos and videos</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
		<string>whatsapp</string>
		<string>comgooglemaps</string>
		<string>music</string>
		<string>youtube</string>
		<string>App-prefs</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBG</string>
	</dict>
</dict>
</plist>
